/** Polices **/
@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat.ttf');
}

/** Couleurs **/
$black_color: #353535;
$brown_color: #8A897C;
$light_brown_color: #BDBBB0;
$light_blue_color: #D2D7DF;
$lighter_blue_color: #F5F6F8;